---
import PDFViewer from '../components/PDFViewer';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<meta name="generator" content={Astro.generator} />
		<title>Menu Visualizer</title>
		<style is:global>
			body {
				margin: 0;
				padding: 0;
				overflow-x: hidden;
				background-color: #000;
			}
		</style>
	</head>
	<body>
		<PDFViewer url="/menu.pdf" client:only="react" />
	</body>
</html>
